<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710109481594-e8epsskv0nvtfg560p8popgtf3s49mhr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710109481594-e8epsskv0nvtfg560p8popgtf3s49mhr</string>
	<key>API_KEY</key>
	<string>AIzaSyCfPE_IBiz838nPvqmt3Tdn5aVuRyNo5TY</string>
	<key>GCM_SENDER_ID</key>
	<string>710109481594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitness</string>
	<key>PROJECT_ID</key>
	<string>testing-4ede3</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-4ede3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710109481594:ios:fcd2641deae2daa14c49c3</string>
</dict>
</plist>